.navbar1 {
    background-color: #000 !important;
}
#login-body{
    background: url(/static/images/fundoazul.png) no-repeat center center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height: 100vh;
}
#login-body a, #login-body a:hover, #login-body .copyright{

}