<!DOCTYPE html>
<html lang="en" class=" js csstransforms csstransforms3d csstransitions">
    <head>
        <title>Sistema Online</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="description" content="">
        <meta name="keywords" content="">

        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/jquery.toast.min.js"></script>
        <link href="/static/css/jquery.toast.min.css" rel="stylesheet"/>
        <link href="/static/css/public.css" rel="stylesheet">

    </head>

    <body class="sticky-nav transparent-nav">
        <header class="site-header color-alt overlay-black size-full text-center"
                style="background-image: url({% if settings.background %}/media/{{ settings.background }}{% else %}/static/images/project.jpg{% endif %})">
            <div class="container">
                <h1><strong>{{ settings.initials }}</strong> Online</h1>
                <h4>{{ settings.name }}</h4>
                <br><br><br>
                <a class="btn btn-lg btn-white btn-outline btn-round" href="/admin/"><span style="padding: 0 30px;">Acessar</span></a>
            </div>
        </header>

        {% if messages %}
            {% for message in messages %}
                {{ message|toast }}
            {% endfor %}
        {% endif %}

    </body>
</html>