{% extends "report.html" %}
{% load i18n %}

{% block content %}
    <h1>Relatório Anual de Obrigações</h1>
    {% for obrigacao in obrigacoes %}
        <h3>{{ obrigacao.tipo_obrigacao.descricao }} - {{ obrigacao.exercicio }}</h3>
        <table>
            <tr>
                <td><b>Dispositivo Legal</b></td>
                <td>{{ obrigacao.tipo_obrigacao.dispositivo_legal }}</td>
            </tr>
            <tr>
                <td><b>Orgão Fiscalizador</b></td>
                <td>{{ obrigacao.tipo_obrigacao.orgao_fiscalizador }}</td>
            </tr>
            <tr>
                <td width="150px"><b>Periodicidade</b></td>
                <td>{{ obrigacao.tipo_obrigacao.periodicidade }}</td>
            </tr>
        </table>
        <br><br>

        <table class="table" repeat="1">
            <thead>
                <tr>
                    <th>Período</th>
                    <th>Referência</th>
                    <th>Prazo Final</th>
                    <th>Quitação</th>
                    <th>Comprovante</th>
                </tr>
            </thead>
            <tbody>
                {% for compromisso in obrigacao.compromissos %}
                <tr>
                    <td>{{ compromisso.identificacao }}</td>
                    <td>{{ compromisso.referencia }}</td>
                    <td align="center">{{ compromisso.data_limite|format }}</td>
                    <td align="center">
                        {% if compromisso.data_quitacao %}
                            {{ compromisso.data_quitacao|format }}
                        {% else %}
                            <span style="color:red">PENDENTE</span>
                        {% endif %}
                    </td>
                    <td align="center">
                        {% if compromisso.registro_quitacao %}
                            {{ compromisso.get_url_registro_quitacao|qrcode64 }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}