{% extends "report.html" %}
{% load i18n %}
{% block extra_header %}
    <div>{{ cliente }}</div>
{% endblock %}
{% block content %}

    {% if obrigacoes_contatos %}
        <h1 align="center">Relatório Mensal de Notificações<br>{{ descricao_mes }}/{{ ano }}</h1>
        {% for obrigacao in obrigacoes_contatos %}
            <h2>{{ obrigacao.tipo_obrigacao }}</h2>
            {% for compromisso in obrigacao.compromissos %}
                <table>
                    <tr>
                        <td width="150px"><b>Dispositivo Legal</b></td>
                        <td>{{ obrigacao.tipo_obrigacao.dispositivo_legal|format }}</td>
                    </tr>
                    <tr>
                        <td width="150px"><b>Orgão Fiscalizador</b></td>
                        <td>{{ obrigacao.tipo_obrigacao.orgao_fiscalizador|format }}</td>
                    </tr>
                    <tr>
                        <td width="150px"><b>Referência</b></td>
                        <td>{{ compromisso.referencia }}</td>
                    </tr>
                    <tr>
                        <td width="150px"><b>Vencimento</b></td>
                        <td>
                            {{ compromisso.data_limite|format }}
                            {% if compromisso.data_quitacao %} quitado em {{ compromisso.data_quitacao|format }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <br><br>
                <table class="table" repeat="1">
                    <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Data/Hora</th>
                        <th>Destinatário</th>
                        <th>Efetivado</th>
                        <th>Canal</th>
                        <th>Observação</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contato in compromisso.contatos %}
                        <tr>
                            <td>{{ contato.notificacao.tipo }}</td>
                            <td align="center">{{ contato.data_hora|format }}</td>
                            <td>{{ contato.responsavel }}</td>
                            <td align="center">{{ contato.efetivado|format }}</td>
                            <td>{% if not contato.notificacao.is_via_email %}{{ contato.canal|format }}{% else %}E-mail{% endif %}</td>
                            <td>{% if not contato.notificacao.is_via_email %}{{ contato.observacao|format }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if obrigacoes_contatos_adicionais %}
        <h1 align="center">Relatório de Notificações de Obrigações Vencidas</h1>
        {% for obrigacao in obrigacoes_contatos_adicionais %}
            <h2>{{ obrigacao.tipo_obrigacao }}</h2>
            <table>
                <tr>
                    <td width="150px"><b>Dispositivo Legal</b></td>
                    <td>{{ obrigacao.tipo_obrigacao.dispositivo_legal }}</td>
                </tr>
                <tr>
                    <td width="150px"><b>Orgão Fiscalizador</b></td>
                    <td>{{ obrigacao.tipo_obrigacao.orgao_fiscalizador }}</td>
                </tr>
            </table>
            <br><br>
            <table class="table" repeat="1">
            <thead>
            <tr>
                <th>Referência</th>
                <th>Vencimento</th>
                <th>Tipo</th>
                <th>Data/Hora</th>
                <th>Destinatário</th>
                <th>Efetivado</th>
                <th>Canal</th>
                <th>Observação</th>
            </tr>
            </thead>
            <tbody>
            {% for contato in obrigacao.contatos_adicionais %}
                <tr>
                    <td>{{ contato.compromisso.referencia }}</td>
                    <td>{{ contato.compromisso.data_limite|format }}</td>
                    <td>Ligação</td>
                    <td align="center">{{ contato.data_hora|format }}</td>
                    <td>{{ contato.responsavel }}</td>
                    <td align="center">{{ contato.efetivado|format }}</td>
                    <td>{{ contato.canal|format }}</td>
                    <td>{{ contato.observacao|format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    {% endif %}

    {% if not obrigacoes_contatos and not obrigacoes_contatos_adicionais %}
        <br><br>
        <br><br>
        <div align="center">Nenhum contato registrado no mês de {{ descricao_mes }}.</div>
    {% endif %}

{% endblock %}