{% extends "report.html" %}
{% load i18n %}
{% block extra_header %}
<div>{{ cliente }}</div>
{% endblock %}
{% block content %}
        <h1 align="center">Relatório Mensal de Obrigações<br>{{ descricao_mes }}/{{ ano }}</h1>

        {% if compromissos %}
        <table class="table" repeat="1">
            <thead>
                <tr>
                    <th>Obrigacao</th>
                    <th>Referência</th>
                    <th>Prazo Final</th>
                    <th>Quitação</th>
                    <th>Comprovante</th>
                </tr>
            </thead>
            <tbody>
                {% for compromisso in compromissos %}
                <tr>
                    <td width="380px">
                        <b>{{ compromisso.obrigacao.tipo_obrigacao.descricao }}</b><br>
                        {% if compromisso.obrigacao.tipo_obrigacao.dispositivo_legal %}
                        {{ compromisso.obrigacao.tipo_obrigacao.dispositivo_legal }}<br>
                        {% endif %}
                        {{ compromisso.obrigacao.tipo_obrigacao.orgao_fiscalizador }}
                    </td>
                    <td>{{ compromisso.referencia }}</td>
                    <td align="center">{{ compromisso.data_limite|format }}</td>
                    <td align="center">
                        {% if compromisso.data_quitacao %}
                            {{ compromisso.data_quitacao|format }}
                        {% else %}
                            <span style="color:red">PENDENTE</span>
                        {% endif %}
                    </td>
                    <td align="center">
                        {% if compromisso.registro_quitacao %}
                            {{ compromisso.get_url_registro_quitacao|qrcode64 }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div align="center">Nenhum compromisso no mês.</div>
        {% endif %}
{% endblock %}