<div align="center" style="font-size: 50px">
{% if ok %}
    <p>
        <i class="fa fa-thumbs-up" style="color:green"></i>
        Todos os compromissos estão em dia
    </p>
{% else %}
    <p>
        <i class="fa fa-thumbs-down" style="color:#a94442"></i>
        Existem compromissos atrasados
    </p>
{% endif %}
</div>