<div class="panel panel-default">
    <div class="panel-heading">Resumo de Obrigações</div>
    <div class="panel-body">
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th rowspan="2" align="center">Nome do Cliente</th>
                    <th rowspan="2" align="center">Situação</th>
                    {% for mes in meses %}
                    <th colspan="2" align="center">{{ mes }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for mes in meses %}
                    <th align="center">OBRI</th>
                    <th align="center">PEND</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente }}</td>
                    <td align="center">{{ cliente|getattr:"is_em_dia" }}</td>
                    {% for qtd_obrigacoes, qtd_pendencias in cliente.meses %}
                        <td align="center">
                            <a class="ajax" href="/simop/relatorio_mensal_obrigacoes/2018/{{ forloop.counter }}/{{ cliente.pk }}/">{{ qtd_obrigacoes }}</a>
                        </td>
                        <td align="center">
                            {% if qtd_pendencias %}
                                <a class="ajax" href="/simop/compromissos_atrasados/2018/{{ forloop.counter }}/{{ cliente.pk }}/">{{ qtd_pendencias }}</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>

                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>